#div2{
    padding: 2%;
   background-color: rgb(175, 183, 255);
}
#div1{
    color: black
}
#divRep{
    padding: 1%
}
#BOTONES{
    padding: 3%;
}
#fecha{
    margin-inline-start: 20%;
}
#graf {
    margin-top: -45%;
    margin-left:50%;
    margin-bottom: 5%;
}
#div4{
    padding: 2%
}
#divPanelBody{
    padding: 6%
}
