#div2{
    padding: 2%;
   background-color: rgb(175, 183, 255);
}
#div1{
    color: black
}
#divRep{
    padding: 1%
}
#BOTONES{
    padding: 3%;
    margin-top: -09%;
    margin-left: -01%
}
#fecha{
    margin-inline-start: 28%;
    margin-top: -02%
}
#graf {
    margin-top: -28%;
    margin-left:50%;
    margin-bottom: 2%;
}
#div4{
    padding: 2%
}
#divPanelBody{
    padding: 6%
}

#BOTONES1{
    margin-top: -01%
}

