#div2{
    padding: 2%;
   background-color: rgb(175, 183, 255);
}
#div1{
    color: black
}
#tabla{
    width: 265%
}
#cajita{
    margin-left: -1%;
    width: 50%;
    height:50%;
}
#botoncarga{
    color: black;
    
}
#imgcargarproducto{
    width: 100%;
    height: 100%;
}
#inputfile {
    margin-left: 1%
}
#excel{
    margin-left: 5%
}

#buscar{
    margin-left: 1%
}
#barradebusqueda {
    margin-left: 2%;
    width: 95%
}
#filtro {
    margin-left: 2%;
    width: 95%

}
#M{
    margin-left: 3%;
}
#panel {
    width: 100%
}






 
