#div2{
    padding: 2%;
   background-color: rgb(175, 183, 255);
}
#div1{
    color: black

}
#imagen1{ margin-left: 10px}
img{ margin-left: 120px;}

#div3{
    color: white;
    background-color: white;
}
#home{
    color: black;
    background-color: white;
    
}
#div4{
     color: white;
    background-color: white;
}
