#div2{
    padding: 2%;
   background-color: rgb(175, 183, 255);
}
#div1{
    color: black
}
#divRep{
    padding: 6%
}
#BOTONES{
    padding: 3%
}
#fecha{
    margin-left: 3%
}
#graf {
    margin-top: -40%;
    margin-left:35%

}